
/* IPAD MODO HORIZONTAL */

p
{
    width:750px;
}

div
{
    width:750px;
    padding: 10px;
}

#datosCircuito
{
    align:center;
    /*width:750px;*/
    padding-left: 10px;
    width:90%;
}

#div_about
{
    align:center;
    width:450px;
    padding-left: 140px;
}

#imgespana
{
    width:625px;
    height:350px;
}

a.button.big{position:relative;height:30px;width:55%;margin-bottom:4px;padding:6px 0;font-size:16px;line-height:31px;}

.bubble
{
    width:3%;
}

.anchor
{   
    height:20px;    
}
#cellInfo
{
    text-align:center;
    padding-top: 0px;
    padding-left: 120px;
}

#artReglamento
{
    text-align: justify;
    width:97%;
}

#artPilotos
{
  /*height:100%;*/
}

@media only screen and (orientation:portrait)
{
	/* IPAD MODO VERTICAL */

	p
    {
        width:490px;
	}
    
    div
    {
        width:490px;
        padding: 10px;
    }

	a.button.big{position:relative;height:30px;width:60%;margin-bottom:4px;padding:6px 0;font-size:16px;line-height:31px;}
    
    #datosCircuito
    {
        align:center;
        padding-left: 10px;
        width:90%;
    }
    
    #div_about
    {
        align:center;
        width:750px;
        padding-left: 10px;
    }
    
    #imgespana
    {
        width:470px;
        height:263px;
    }

    .bubble
    {
        width:4%;
    }

    /* ARIBA DERECHA ABAJO IZQUIERDA*/

    .anchor
    {
        
        height:20px;
        
    }
    #cellInfo
    {
        text-align:center;
        padding-top: 0px;
        padding-left: 120px;
    }

    #artReglamento
    {
        text-align: justify;
        width:97%;
    }

    #artPilotos
    {
        /*height:100%;*/
    }
}
